<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.loconav.configurator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.EnterDeviceInfo"
            android:label="Select Machine Type"
            android:windowSoftInputMode="adjustPan|adjustResize|stateAlwaysVisible" />

        <receiver android:name=".SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".LookUpEntry"></activity>
        <activity
            android:name=".MainActivity3"
            android:theme="@style/AppTheme" />
        <activity android:name=".ShareAndUpload" />
        <activity android:name=".ShareDetails" />
        <activity
            android:name=".EnterDetails"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UserActivity"
            android:label="User Settings"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.LandingActivity"
            android:label="@string/title_activity_landing"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>